<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.megarobo.control">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name="com.megarobo.control.MegaApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ConnectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >

        </activity>

        <activity android:name=".activity.EquipmentActivity"
            android:screenOrientation="landscape" >

        </activity>

        <activity android:name=".activity.EquipmentControlActivity"
            android:screenOrientation="landscape" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name=".activity.EquipmentStatusActivity"
            android:screenOrientation="landscape" >

        </activity>

        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="landscape" >

        </activity>

        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>